@use "../../styles/spacing" as *;

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.navbar {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  padding-bottom: spacing("xl");

  &__top {
    padding: spacing("md");
  }

  &__pages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:last-child {
      border-bottom: none;
    }
  }

  &__title {
    margin: 0;
    color: var(--title-color);
  }

  &__page {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: var(--link-color);
    text-decoration: none;
    padding: spacing("md");

    &:hover {
      color: var(--link-color-hover);
      background-color: var(--link-background-hover);
    }

    &--active {
      color: var(--text-color);
      font-weight: bold;
      background-color: var(--link-background-hover);
      border-right: 3px solid var(--text-color);
    }

    &--has-children {
      font-weight: bold;
      &::before {
        content: url("../../public/images/Navbar-arrow.svg");
        display: inline-block;
        width: spacing("md");
        height: 100%;
        margin-right: spacing("sm");
      }
    }

    &--active-children {
      @extend .navbar__link--has-children;
      &::before {
        transform: rotate(90deg);
      }
    }

    &--level-0 {
      font-weight: bold;
      padding-left: spacing("lg");
      border-top: 1px solid var(--border-color);
      text-transform: uppercase;
    }

    &--level-1 {
      padding-left: calc(spacing("lg") * 2);
    }

    &--level-2 {
      padding-left: calc(spacing("lg") * 3);
    }
  }
}
