@use "../../styles/spacing" as *;

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.navbar {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);

  &__top {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: spacing("md");
    padding: spacing("md");
  }

  &__pages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__section {
    display: flex;
    flex-direction: column;
    &--active {
      border-bottom: 1px solid var(--border-color);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--border-color);
      margin-bottom: spacing("xl");
    }
  }

  &__title {
    margin: 0;
    color: var(--title-color);
  }

  &__link {
    color: var(--link-color);
    text-decoration: none;
    padding: spacing("md");

    &:hover {
      color: var(--link-color-hover);
      background-color: var(--link-background-hover);
    }

    &--active {
      font-weight: bold;
      background-color: var(--link-background-hover);
      border-right: 3px solid var(--text-color);
    }

    &--toplevel {
      font-weight: bold;
      padding-left: spacing("lg");
      border-bottom: 1px solid var(--border-color);
    }

    &--nested {
      padding-left: spacing("xl");
    }
  }
}
