@use "../../styles/breakpoints" as *;
@use "../../styles/spacing" as *;

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper {
  margin: spacing("lg") auto;
  width: 100%;
  max-width: breakpoint("xl");
  height: calc(100vh - var(--header-height) - 2 * spacing("lg"));
  min-height: 50vh;
  > * {
    background-color: rgba(0,0,0,0) !important;
  }
}
