* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 16px;

  --background-color: #fff;
  --text-color: #333;
  --title-color: #111;
  --border-color: #dddfe1;
  --link-color: #767676;
  --link-color-hover: #111;
  --link-background-color: #0ff;
  --link-background-hover: #ff0;

  &[data-darkmode] {
    --background-color: #111;
    --text-color: #ccc;
    --title-color: #eee;
    --border-color: #5b6771;
    --link-color: #9e9e9e;
    --link-color-hover: #111;
    --link-background-color: #0ff;
    --link-background-hover: #ff0;
  }
}

h1,
h2,
h3 {
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--title-color);
}

h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-color);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
