:root {
  --background-color: #fff;
  --text-color: #333;
  --title-color: #111;
  --border-color: #f00;
  --link-color: #00f;
  --link-color-hover: #66f;
  --link-background-color: #0ff;
  --link-background-hover: #ff0;

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
}

[data-theme="dark"] {
  --background-color: #000;
  --text-color: #ccc;
  --title-color: #eee;
  --border-color: #f00;
  --link-color: #00f;
  --link-color-hover: #66f;
  --link-background-color: #0ff;
  --link-background-hover: #ff0;
}
