* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;

  --header-height: 76px;

  --background-color: #fff;
  --text-color: #333;
  --title-color: #111;
  --border-color: #dddfe1;
  --link-color: #006bef;
  --link-color-hover: darken(#006bef, 10%);
  --link-background-hover: #ff0;
  --code-background-color: #f1f1f1;

  &[data-darkmode] {
    --background-color: #111;
    --text-color: #ccc;
    --title-color: #eee;
    --border-color: #5b6771;
    --link-color: #006bef;
    --link-color-hover: lighten(#006bef, 10%);
    --link-background-hover: #ff0;
    --code-background-color: #0e0e0e;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-style: italic;
  font-weight: 900;
  color: var(--title-color);
}

h4,
h5,
h6 {
  font-weight: 700;
  color: var(--text-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

code, code > * {
  font-family: 'Inconsolata', monospace;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a.heading-anchor {
  float: left; 
  margin-left: -26px;
  padding-right: 2px;
  line-height: 1;
}

a.heading-anchor img {
  width: 24px;
  height: 24px;
  visibility: hidden;
}

a.heading-anchor:hover img, h1:hover a.heading-anchor img, h2:hover a.heading-anchor img, h3:hover a.heading-anchor img, h4:hover a.heading-anchor img, h5:hover a.heading-anchor img, h6:hover a.heading-anchor img {
  visibility: visible;
}
