.header {
    height: 64px;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 32px;
    margin-right: 8px;
    width: 32px;
}

.home-link {
    align-items: center;
    display: flex;
}
